@charset "utf-8";

h3 {
    padding: 10px 0;
}

.scrollMenu {
    display: flex;
    padding: 20px 0;
}

.scrollItem {
    padding-right: 30px;
}

.content {
    padding-bottom: 40px;
}

.contentDetail {
    width: 500px;
}

.contentDetail img {
    width: 100%;
}